<div class="alert alert-dismissible alert-danger" *ngIf="mostrarError">
  <div class="text-center"><strong>Error al obtener el clima</strong></div>
</div>

<div class="container pt-4">
  <div class="row">
    <div class="col-lg-4">
      <img [src]="imagenUrl" alt="climaImagen" width="200px" height="200px" />
    </div>
    <div class="col-lg-6">
      <input
        type="text"
        class="form-control form-control-lg size"
        [(ngModel)]="ciudad"
        placeholder="Ingrese ciudad"
      />
      <button
        (click)="obtenerClima()"
        class="btn btn-primary btn-lg btn-block mt-4 size"
        [disabled]="ciudad == ''"
      >
        Obtener clima
      </button>
      <div class="text-center mt-3" *ngIf="loading">
        <div class="spinner-grow text-primary" role="status"></div>
        <div class="spinner-grow text-primary" role="status"></div>
        <div class="spinner-grow text-primary" role="status"></div>
      </div>
      <div *ngIf="query" class="card mt-3">
        <div class="card-body">
          <p><b>Temperatura: </b>{{ temperatura | number: "1.2-2" }} °C</p>
          <p><b>Humedad: </b>{{ humedad }}</p>
          <p><b>Clima: </b>{{ clima }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
